#pragma once

#define HOSTNAME "sundetector"

#define WIFI_STA_SSID "my_ssid"
#define WIFI_STA_PASSKEY "password"

#define WIFI_AP_SSID "ORVIBO"
#define WIFI_AP_PASSKEY "WIWO_S20"

#undef OTA_PASSWORD

#define LOG_USE_SYSLOG
//#define LOG_USE_SERIAL
#define LOG_SYSLOG_SERVER "192.168.0.13"
#define LOG_SERIAL_BAUDRATE 115200

#define NTP_SERVER "europe.pool.ntp.org"
#define NTP_CLOCK_OFFSET (3600 * 2) /* Sweden +1, summertime +1 */

#define ORVIBO_PAIRING_ENABLED 1
